.card {
  width: 300px;
  border: 1px rgba(128, 128, 128, 0.33) solid;
  margin: 6px 12px 12px 0;

  .cardImg {
    width: 300px;
    height: 300px;
  }
  .cardTitle {
    width: 300px;
    height: 50px;
    margin: 5px;

    .cardTitleSpan {
      font-size: 18px;
      font-weight: 500;
      margin: 5px;
    }

    .cardProfileDiv {
      margin: 5px;
    }
  }
  .cardValue {
    border: 1px rgba(128, 128, 128, 0.33) solid;
    width: 300px;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;

    .cardValueMargin {
      margin: 6px;
      display: flex;

      #viewCount {
        position: absolute;
        right: 20px;
      }

      & div {
        margin: 0 20px 0 0;
      }

      .cardValueMargin2 {
        margin: 0 0px;
        i {
          margin: 0 4px;
        }

        .cardValueSpanMargin {
          margin: 0 5px;
        }
      }
    }
  }
}
