.uploadModalMain {
  width: 446px;
  height: 719px;
  border: 1px solid rgba(128, 128, 128, 0.629);
  border-radius: 5px;
  position: absolute;
  background-color: white;
  z-index: 2;

  .uploadModalMainMaiginDiv {
    margin: 13px;

    .ModalSelectDiv {
      .ModalSelectDivName {
        font-size: 13px;
        font-weight: 600;
        margin: 50px 0;
      }
      .modalOpenBox {
        width: 379px;
        height: 36px;
        border: 1px black solid;
        margin: 8px 0 0 0;
      }
      .categorySelect {
        margin: 20px;
      }
      .colabolateSelect {
        margin: 20px;
      }

      .lisenceSelect {
        margin: 20px;
      }
    }

    .radioSelectDiv {
      .radioSelectDivLabel {
        margin: 5px 10px 0 0;
        font-size: 12px;
      }
      .radioSelectDivInput {
        margin: 0 5px 0 0;
      }
      .ModalSelectDivName {
        font-size: 13px;
        font-weight: 600;
        margin: 50px 0;
      }
      .commentRadioDiv {
        margin: 20px;
      }

      .openRadioDiv {
        margin: 20px;
      }
    }

    .btnDiv {
      position: absolute;
      bottom: 0;
      margin: 0 0 60px 60px;

      .btnDivFlex {
        width: 300px;
        display: flex;
        justify-content: center;

        .cencelBtn {
          width: 130px;
          height: 38px;
          margin: 0 5px;
          cursor: pointer;
        }

        .finalUploadBtn {
          width: 130px;
          height: 38px;
          margin: 0 5px;
          color: white;
          background-color: rgb(95, 205, 138);
          cursor: pointer;

          &:hover {
            background-color: rgb(126, 220, 162);
          }
        }
      }
    }
  }
}
